@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply rounded-lg text-center font-bold outline-none focus:outline-none;
    line-height: normal;
  }  
  .cta {
    @apply p-2 bg-sky dark:bg-ice text-snow dark:text-slate; 
  }
  p {
    @apply my-2;
  }
  h1 {
    @apply text-3xl lg:text-4xl;
  }
  h2 {
    @apply text-2xl lg:text-3xl;
  }
  h3 {
    @apply text-xl lg:text-2xl;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold leading-tight md:leading-tight;
  }
  p {
    @apply text-base leading-relaxed;
  }
}

@layer components {
  .unreset > ul {
    @apply list-outside list-disc ml-4;
  }
  .field {
    @apply md:text-lg block w-full rounded-xl leading-relaxed px-4 py-2 my-2 border-transparent bg-snow dark:bg-slate focus:outline-none ring-2 ring-snow-dark dark:ring-slate-dark focus:ring-sky dark:focus:ring-ice focus:shadow-xl ;
  }
  .radio {
    @apply mr-2;
  }
  .field-block {
    @apply mb-6;
  }
  .error {
    @apply ring-2 ring-red-500 !important;
  }
  .error-message {
    @apply text-red-500;
  }
  .label {
    @apply md:text-lg font-bold mr-4 block md:inline-block ;
  }
  .textarea {
    @apply h-48;
  }
}

@layer utilities {
  .md-hidden {
    @apply block md:hidden;
  }
  .sm-hidden {
    @apply hidden md:block;
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main::before {
  @apply bg-snow-dark dark:bg-slate-dark;
  position: absolute;
  content: "";
  height: 620px;
  left: 0;
  top: 0;
  width: 100%;
}


